GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_PROJECT_ID=mailalert-506913
PUBSUB_TOPIC_NAME=projects/mailalert-506913/topics/gmail-notifications
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
SECRET_KEY=e834b9d146cfd0298a090b8f041838848a609d57a2bf580bf38ce02f43db48e3
